TrainingDay3/Resources/XSDs/InputMath.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="InputMath">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:int" name="FirstNumber"/>
        <xs:element type="xs:int" name="SecondNumber"/>
        <xs:element type="xs:string" name="Operation"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>