TrainingDay4/Resources/WSDLs/InsertTransactionBndPort.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<WL5G3N0:definitions name="ws_InsertTransaction" targetNamespace="http://esb.quadras.co.id/InsertTransaction" xmlns:WL5G3N0="http://schemas.xmlsoap.org/wsdl/" xmlns:WL5G3N1="http://esb.quadras.co.id/inputInsertTransaction" xmlns:WL5G3N2="http://esb.quadras.co.id/outputInsertTransaction" xmlns:WL5G3N3="http://esb.quadras.co.id/InsertTransaction" xmlns:WL5G3N4="http://schemas.xmlsoap.org/wsdl/soap/">
  <WL5G3N0:types>
    <xsd:schema id="UID-2E000000-612FC275210100-0A1520C5-01" targetNamespace="http://esb.quadras.co.id/inputInsertTransaction" xmlns:inMsg="http://esb.quadras.co.id/inputInsertTransaction" xmlns:outMsg="http://esb.quadras.co.id/outputInsertTransaction" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://esb.quadras.co.id/inputInsertTransaction" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:element name="inputInsertTransaction" type="tns:inputInsertTransaction"/>
      <xsd:complexType name="Details">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="Detail" type="tns:Detail"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Detail">
        <xsd:sequence>
          <xsd:element name="TransactionDate" type="xsd:string"/>
		  <xsd:element name="ToAccountNo" type="xsd:string"/>
		  <xsd:element name="ToAccountName" type="xsd:string"/>
		  <xsd:element name="DebitCredit" type="xsd:string"/>
          <xsd:element name="TransactionAmount" type="xsd:string"/>
		  <xsd:element name="Remark" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="inputInsertTransaction">
        <xsd:sequence>
          <xsd:element name="AccountNo" type="xsd:string"/>
          <xsd:element name="AccountName" type="xsd:string"/>
          <xsd:element name="Details" type="tns:Details"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
    <xsd:schema id="UID-2F000000-612FC275210100-0A1520C5-01" targetNamespace="http://esb.quadras.co.id/outputInsertTransaction" xmlns:inMsg="http://esb.quadras.co.id/inputInsertTransaction" xmlns:outMsg="http://esb.quadras.co.id/outputInsertTransaction" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://esb.quadras.co.id/outputInsertTransaction" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:element name="outputInsertTransaction" type="tns:outputInsertTransaction"/>
       <xsd:complexType name="outputInsertTransaction">
        <xsd:sequence>
          <xsd:element name="ErrorSchema" type="tns:ErrorSchema"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ErrorSchema">
        <xsd:sequence>
          <xsd:element name="ErrorCode" type="xsd:string"/>
          <xsd:element name="ErrorMessage" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </WL5G3N0:types>
  <WL5G3N0:message name="MessageInput">
    <WL5G3N0:part name="input" type="WL5G3N1:inputInsertTransaction"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="MessageOutput">
    <WL5G3N0:part name="output" type="WL5G3N2:outputInsertTransaction"/>
  </WL5G3N0:message>
  <WL5G3N0:portType name="InsertTransaction">
    <WL5G3N0:operation name="doInsertTransaction">	
      <WL5G3N0:input message="WL5G3N3:MessageInput" name="InputMessage"/>
      <WL5G3N0:output message="WL5G3N3:MessageOutput" name="OutputMessage"/>
    </WL5G3N0:operation>
  </WL5G3N0:portType>
  <WL5G3N0:binding name="InsertTransactionBnd" type="WL5G3N3:InsertTransaction">
    <WL5G3N4:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <WL5G3N0:operation name="doInsertTransaction">
      <WL5G3N4:operation soapAction="http://esb.quadras.co.id/InsertTransaction/InsertTransaction/doInsertTransaction" style="rpc"/>
      <WL5G3N0:input>
        <WL5G3N4:body namespace="http://esb.quadras.co.id/InsertTransaction" parts="input" use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N4:body namespace="http://esb.quadras.co.id/InsertTransaction" parts="output" use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
  </WL5G3N0:binding>
  <WL5G3N0:service name="ws_InsertTransaction_Service">
    <WL5G3N0:port binding="WL5G3N3:InsertTransactionBnd" name="InsertTransactionBndPort">
      <WL5G3N4:address location="http://10.20.200.140:9403/InsertTransaction/InsertTransactionBndPort"/>
    </WL5G3N0:port>
  </WL5G3N0:service>
</WL5G3N0:definitions>