TrainingDay4/Resources/XSDs/Transaction.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="TransactionData">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="AcctNo"/>
        <xs:element type="xs:string" name="AcctName"/>
        <xs:element type="xs:string" name="BranchCode"/>
        <xs:element name="Details">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Detail" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="ToAcctNo"/>
                    <xs:element type="xs:string" name="ToAcctNm"/>
                    <xs:element type="xs:string" name="DbCr"/>
                    <xs:element type="xs:string" name="TxnDate"/>
                    <xs:element type="xs:string" name="TxnAmt"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>